################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


./msgpack_wrapper
./Debug
./.vs
./x64
./msgpack_wrapper.VC.VC.opendb
./msgpack_wrapper.VC.db